.article-card a {
    text-decoration: none;
}

.card-body {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-body a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.card-title {
    display: -webkit;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    font-weight: 600;
    height: calc(1.4em * 3);
}

.card-text {
    color: #6c757d;
    font-size: 0.9rem;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.4em * 2);
}

.card-source {
    color: white;
    background-color: #111111;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    width: auto;
    justify-content: center;
    text-align: center;
}

article-card img {
    width: 10rem;
    height: auto;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-link:hover {
    color: #0d6efd;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.dboard-box {
    --bg-color: #4287f5;
    background-color: var(--bg-color);
    color: white;
    display: flex;
    flex-decoration: column;
    justify-content: space-between;
    padding: 1rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.dboard-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.dboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dboard-value {
    font-size: 2rem;
    font-weight: bold;
}

.dboard-icon {
    font-size: 5rem;
    opacity: 0.3;
}

